<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.bustracker"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Bus Tracker Simulator</name>

    <description>
        An example of bus tracker simulator. 
    </description>

    <author href="https://blackbridge3rc.com" email="jerh56@gmail.com">
        Juan Ernesto Ramos
    </author>
    <icon src="icon.png" />
    <gap:platform name="android" />
    <preference name="android-targetSdkVersion" value="16" />
    <preference name="phonegap-version" value="3.7.0" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <plugin name="Geolocation" value="org.apache.cordova.geolocation.Geolocation" />
    <plugin name="Geolocation" value="org.apache.cordova.geolocation.Geolocation" />


</widget>
